{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-4">
            {{ form(form) }}
        </div>
    </div>
</div>


{# <button>Envoyer</button> #}

{% endblock %}
